.circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 4px;
  font-size:16px;
  position: relative;
  display: inline-block;
  color: rgba(100, 100, 100, 1);
}

.circle .tooltip {
  visibility: hidden;
  width: 120px;
  color: rgba(100, 100, 100, 1);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size:16px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.circle:hover .tooltip {
  visibility: visible;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.green {
  background-color: rgba(0, 255, 0, 0.7);
}

.blue {
  background-color: blue;
}